.main {
    width: 96%;
    margin-left: 4%;
    height: 200vh;
    background-color: #1b2431;
    display: flex;
    padding: 2.2%;
    .mainDiv {
        margin-top: 10vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        gap: 5vh;
        .TitlDiv {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .Titl {
                color: #fff;
                // font-family: "Nunito Sans";
                font-size: 42.667px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.152px;
            }
        }
        .total {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 3.3%;
            .totalUser {
                box-sizing: border-box;
                overflow: hidden;
                display: flex;
                position: relative;
                width: 23%;
                padding: 1.5%;
                border-radius: 18.667px;
                border: 1.333px solid #313d4f;
                background: #273142;
                display: flex;
                flex-direction: column;
                gap: 4vh;
                justify-content: center;
                .titl {
                    color: #fff;
                    // font-family: "Nunito Sans";
                    font-size: 21.333px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    opacity: 0.7;
                }
                .num {
                    color: #fff;
                    // font-family: "Nunito Sans";
                    font-size: 37.333px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.333px;
                }
                .info {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 5%;
                    align-items: center;
                    .txt {
                        display: flex;
                        flex-direction: row;
                        gap: 5%;
                        align-items: center;
                        .txt1 {
                            color: #00b69b;
                            // font-family: "Nunito Sans";
                            font-size: 21.333px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                        .txt2 {
                            color: #e6e6e6;
                            // font-family: "Nunito Sans";
                            font-size: 21.333px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            white-space: nowrap;
                            // overflow: hidden; /* Ẩn phần nội dung vượt quá kích thước */
                            // text-overflow: ellipsis;
                        }
                        .txt3 {
                            color: #f93c65;
                            // font-family: "Nunito Sans";
                            font-size: 21.333px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
                .img {
                    position: absolute;
                    top: 32px;
                    right: 32px;
                }
            }
        }
        .details {
            width: 100%;
            // height: 70vh;
            padding: 3.2%;
            border-radius: 18.667px;
            border: 1.333px solid #313d4f;
            background: #273142;
            stroke-width: 1.333px;
            stroke: #313d4f;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            .detailsDiv {
                width: 100%;
                margin-bottom: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .detailsTit {
                    color: #fff;
                    // font-family: "Nunito Sans";
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26.667px; /* 83.333% */
                }
                .detailsTit1 {
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            .btn {
                width: 30%;
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                // gap: 100%;
                justify-content: space-between;
            }
        }
    }
}
