.header {
    width: 96%;
    margin-left: 4%;
    padding: 1vh 3vh;
    background-color: #273142;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    .searchDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18%;
        .searchTxt {
            color: #fff;
            text-align: center;
            // font-family: "Nunito Sans";
            // font-size: 18.667px;
            font-style: normal;
            // font-weight: 600;
            line-height: normal;
            opacity: 0.8;
        }
    }
    .proDiv {
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        gap: 18%;
        justify-content: center;
        align-items: center;
        .nameDiv {
            display: flex;
            flex-direction: column;
            .name {
                color: #fff;
                font-size: 18.667px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .admin {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                // font-weight: 400;
                line-height: normal;
            }
        }
    }
}
