.Sidebar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    background: #273142;
    height: 200vh;
    .SidebarDiv {
        padding-top: 3vh;
        display: flex;
        width: 100%;
        gap: 2.5vh;
        align-items: center;
        flex-direction: column;
    }
    .logout {
        margin-top: 7vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
